DATABASE_URL=postgresql+psycopg://postgres:tu_password@localhost:5432/sistemasyntri
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_password
POSTGRES_DB=sistemasyntri
SECRET_KEY=tu_clave_secreta
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...
DISCORD_BOT_TOKEN=tu_token
DISCORD_CHANNEL_ID=tu_channel_id
TELEGRAM_BOT_TOKEN=tu_token_de_botfather
TELEGRAM_CHAT_ID=tu_chat_id
ENVIRONMENT=development
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_email@gmail.com
SMTP_PASSWORD=tu_contraseña_de_aplicación
SMTP_FROM=tu_email@gmail.com
